@model IEnumerable<Reps_Recipes.Models.Catalog>


@{
    ViewData["Title"] = "Моите каталози";
}

<h1>Моите каталози</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Създай нов каталог</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Име на каталог</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Преглед</a>
                </td>
            </tr>
        }
    </tbody>
</table>