@{
    ViewData["Title"] = "Добави режим в каталог";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddToCatalog" method="post">
    <input type="hidden" name="dietId" value="@ViewBag.DietId" />

    <div class="form-group">
        <label for="catalogId">Избери каталог:</label>
        <select name="catalogId" class="form-control" asp-items="ViewBag.Catalogs"></select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Добави</button>
</form>
